@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        height: 100%;
    }
    body {
        background-color: #f8f8f8;
        height: 100%;
        padding: 30px;
    }
    .btn {
        width: 60px;
        height: 60px;
        border: 1px solid #E3E3E3;
        border-radius: 12px;
    }
    .buttons {
        display: flex;
        gap: 8px;
    }
    .country-city {
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    
    }
    .city {
        flex-direction: column;
    }
    }

